# Godot 4+ specific ignores
.godot/
models/bee_bot/bee_bot.glb
models/bee_bot/bee_bot.glb.import
models/bee_bot/bee_bot_skin.gd
models/bee_bot/bee_bot_skin.tscn
models/bee_bot/custom_animations/custom_lib.res
models/bee_bot/custom_animations/light_shutdown.tres
models/bee_bot/materials/bee_bot_eyes_mat.tres
models/bee_bot/materials/bee_bot_lights_mat.tres
models/bee_bot/materials/bee_bot_wings_mat.tres
models/bee_bot/shader/bee_wings_shader.gdshader
models/bee_bot/textures/wing_pattern.png
models/bee_bot/textures/wing_pattern.png.import
models/beetle_bot/beetlebot_skin.gd
models/beetle_bot/beetlebot_skin.tscn
models/beetle_bot/materials/beetlebot_eyes_mat.tres
models/beetle_bot/materials/beetlebot_lights_mat.tres
models/beetle_bot/model/beetle_bot_fused.glb
models/beetle_bot/model/beetle_bot_fused.glb.import
models/beetle_bot/model/custom/custom_lib.res
models/beetle_bot/model/custom/light_shutdown.res
models/gdbot/custom_animations/custom_lib.res
models/gdbot/custom_animations/default_heartbeat.tres
models/gdbot/gdbot.glb
models/gdbot/gdbot.glb.import
models/gdbot/gdbot_face.gd
models/gdbot/gdbot_face.tscn
models/gdbot/gdbot_skin.gd
models/gdbot/gdbot_skin.tscn
models/gdbot/materials/gdbot_face_mat.tres
models/gdbot/materials/glass_mat.tres
models/gdbot/materials/heart_core_mat.tres
models/gdbot/texture/closed.png
models/gdbot/texture/closed.png.import
models/gdbot/texture/open.png
models/gdbot/texture/open.png.import
models/gdbot/texture/parts/eye_close.png
models/gdbot/texture/parts/eye_close.png.import
models/gdbot/texture/parts/eye_happy.png
models/gdbot/texture/parts/eye_happy.png.import
models/gdbot/texture/parts/eye_open.png
models/gdbot/texture/parts/eye_open.png.import
models/gdbot/texture/parts/eye_spiral.png
models/gdbot/texture/parts/eye_spiral.png.import
models/gdbot/texture/parts/open_mouth.png
models/gdbot/texture/parts/open_mouth.png.import
models/gdbot/texture/parts/smile.png
models/gdbot/texture/parts/smile.png.import
models/gobot/gobot_skin.gd
models/gobot/gobot_skin.tscn
models/gobot/materials/eye_mat.tres
models/gobot/model/custom/custom_lib.res
models/gobot/model/custom/hurt.res
models/gobot/model/custom/run_step.res
models/gobot/model/gobot.glb
models/gobot/model/gobot.glb.import
models/gobot/model/gobot_gobot_diffuse.png
models/gobot/model/gobot_gobot_diffuse.png.import
models/gobot/model/gobot_gobot_normal.png
models/gobot/model/gobot_gobot_normal.png.import
models/gobot/model/gobot_gobot_roughness.png
models/gobot/model/gobot_gobot_roughness.png.import
models/gobot/textures/closed_eyes.png
models/gobot/textures/closed_eyes.png.import
models/gobot/textures/hurt_eyes.png
models/gobot/textures/hurt_eyes.png.import
models/gobot/textures/open_eye.png
models/gobot/textures/open_eye.png.import
models/round_bat/model/bat.glb
models/round_bat/model/bat.glb.import
models/round_bat/model/bat_albedo.png
models/round_bat/model/bat_albedo.png.import
models/round_bat/model/bat_roughness.png
models/round_bat/model/bat_roughness.png.import
models/round_bat/model/custom/custom_lib.res
models/round_bat/model/custom/hurt.res
models/round_bat/round_bat_skin.gd
models/round_bat/round_bat_skin.tscn
models/shared/shaders/screen_shader.gdshader
models/shared/textures/eye_mask.png
models/shared/textures/eye_mask.png.import
models/sophia/model/materials/eye_mat_L.tres
models/sophia/model/materials/eye_mat_override.tres
models/sophia/model/materials/eye_mat_R.tres
models/sophia/model/materials/mouth_mat.tres
models/sophia/model/materials/sophia_material.tres
models/sophia/model/sophia.glb
models/sophia/model/sophia.glb.import
models/sophia/model/sophia_diffuse.png
models/sophia/model/sophia_diffuse.png.import
models/sophia/model/sophia_eye_open_diffuse.png
models/sophia/model/sophia_eye_open_diffuse.png.import
models/sophia/model/sophia_eye_open_normal.png
models/sophia/model/sophia_eye_open_normal.png.import
models/sophia/model/sophia_mouth_smile_diffuse.png
models/sophia/model/sophia_mouth_smile_diffuse.png.import
models/sophia/model/sophia_mouth_smile_normal.png
models/sophia/model/sophia_mouth_smile_normal.png.import
models/sophia/model/sophia_normal.png
models/sophia/model/sophia_normal.png.import
models/sophia/model/sophia_roughness.png
models/sophia/model/sophia_roughness.png.import
models/sophia/model/SSS.png
models/sophia/model/SSS.png.import
models/sophia/model/textures/eyes_diffuse_map.png
models/sophia/model/textures/eyes_diffuse_map.png.import
models/sophia/model/textures/eyes_normal_map.png
models/sophia/model/textures/eyes_normal_map.png.import
models/sophia/sophia_skin.gd
models/sophia/sophia_skin.tscn
resources/models_data/data/bee_bot_model_data.tres
resources/models_data/data/beetlebot_model_data.tres
resources/models_data/data/gdbot_model_data.tres
resources/models_data/data/gobot_model_data.tres
resources/models_data/data/round_bat_model_data.tres
resources/models_data/data/sophia_model_data.tres
resources/models_data/model_data_builder.gd
resources/models_data/model_vignettes/beebot_vignette.png
resources/models_data/model_vignettes/beebot_vignette.png.import
resources/models_data/model_vignettes/beetle_bot_vignette.png
resources/models_data/model_vignettes/beetle_bot_vignette.png.import
resources/models_data/model_vignettes/gdbot_vignette.png
resources/models_data/model_vignettes/gdbot_vignette.png.import
resources/models_data/model_vignettes/gobot_vignette.png
resources/models_data/model_vignettes/gobot_vignette.png.import
resources/models_data/model_vignettes/round_bat_vignette.png
resources/models_data/model_vignettes/round_bat_vignette.png.import
resources/models_data/model_vignettes/sophia_vignette.png
resources/models_data/model_vignettes/sophia_vignette.png.import
resources/models_data/option_list_data_builder.gd
viewer/animation_selector.gd
viewer/assets/materials/background_mat.tres
viewer/assets/meshes/room_mesh.obj
viewer/assets/meshes/room_mesh.obj.import
viewer/assets/shaders/bg.gdshader
viewer/assets/shaders/ground.gdshader
viewer/assets/shaders/icon.gdshader
viewer/assets/textures/down_arrow_icon.png
viewer/assets/textures/down_arrow_icon.png.import
viewer/assets/textures/gdquest_logo_sdf.png
viewer/assets/textures/gdquest_logo_sdf.png.import
viewer/main.gd
viewer/main.tscn
viewer/main_theme.tres
viewer/parameters.gd
viewer/turner.gd
viewer/ui/model_selector/bubble_scroll.gd
viewer/ui/model_selector/model_selector.tscn
viewer/ui/model_selector/model_tag.gd
viewer/ui/model_selector/model_tag.tscn
viewer/ui/model_selector/ModelSelector.gd
